.top-margin{
	margin-top: 35px;
}

.outerhead, .outerhead2, .goto{
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
	padding-bottom: 10px;
	background-color: antiquewhite;
}

.goto{
	cursor: pointer;
	background-color: floralwhite;
}

.outerhead2{
	background-color: black;
	color: white;
}

.form, .form2{
	padding-top: 10px;
	background-color: azure;
}

.form2{
	background-color: gainsboro;
}

.form-field{
	padding: 15px;
}

.form-field-name{
	color: black;
	font-style: italic;
	font-size: 16px;
}

.warning {
	color: darkgoldenrod;
	background-color: lightyellow;
	border-left: 6px solid red;
	padding: 5px 5px;
}

.checkall{
	padding-left: 50px;
    padding-right: 50px;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.center{
	text-align: center;
}

.zipOuter, .zipInner, .zipInnerbutton{
	margin: 25px;
}

.zipInnerbuttonSpan{
	border-left: 5px solid red;
	background-color: antiquewhite;
	padding-left: 5px;
	font-weight: bold;
}